<div ng-controller="probeDesignController">
  <div class="page-header">
    <h2>Probe Design</h2>
  </div>
  
  <form role="form">
    <div class="form-group">
      <label for="targetsFile"> Upload Targets File: </label> <input
        type="file" id=targetsFile file-model="targetsFile" /> <br>
      <button class="btn btn-default" ng-click="uploadTargetsFile()"
        ng-disabled="loadingTargets || !targetsFile">Upload
        Targets</button>
      <div ng-show="!loadingTargets && targetsFileUploadStatus">
        <p class="help-block">{{targetsFileUploadStatus}}</p>
      </div>
      <br>
      <div ng-show="loadingTargets">
        <p>
          <img src="images/loading.gif" id="loading-indicator" />
          Uploading targets file...
        </p>
      </div>
    </div>
  </form>

  <form role="form">
    <div class="form-group">
      <label for="probesFile">Upload Probes file: </label> <input
        type="file" id="probesFile" file-model="probesFile"
        value="Probes File" /> <br>
      <button class="btn btn-default" ng-click="uploadProbesFile()"
        ng-disabled="loadingProbes || !probesFile">Upload
        Probes</button>
      <div ng-show="!loadingProbes && probesFileUploadStatus">
        <p class="help-block">{{probesFileUploadStatus}}</p>
      </div>
      <div ng-show="loadingProbes">
        <p>
          <img src="images/loading.gif" id="loading-indicator" />
          Uploading probes file...
        </p>
      </div>
    </div>
  </form>
</div>