<div ng-controller="probeDesignController">
  <div class="page-header">
    <h2>Probe Design</h2>
  </div>

  <h3>Upload Targets and Probes:</h3>
  <p>Prior to running an analysis, input files must be uploaded to
    the server.</p>
  <table style="table-layout: fixed" width="100%">
    <tr>
      <td><label> Targets File: </label> <input type="file"
        id=targetsFile file-model="selTargFileUpload" /> <br>
        <button class="btn btn-default" ng-click="uploadTargetsFile()"
          ng-disabled="loadingTargets || !selTargFileUpload">{{targetsUpButtonText}}</button>
        <div ng-show="loadingTargets || !targetsFileUploadStatus">
          <br>
        </div>
        <div ng-show="!loadingTargets && targetsFileUploadStatus"
          ng-bind-html="targetsFileUploadStatus"></div></td>
      <td><label>Probes file: </label> <input type="file"
        id="probesFile" file-model="selProbFileUpload"
        value="Probes File" /> <br>
        <button class="btn btn-default" ng-click="uploadProbesFile()"
          ng-disabled="loadingProbes || !selProbFileUpload">{{probesUpButtonText}}</button>
        <div ng-show="loadingProbes || !probesFileUploadStatus">
          <br>
        </div>
        <div ng-show="!loadingProbes && probesFileUploadStatus"
          ng-bind-html="probesFileUploadStatus"></div></td>
    </tr>
  </table>
  <hr>
  <h3>Perform Analysis:</h3>
  <p>Choose the input files for this run and provide a unique job
    name. Click submit to add this job to the queue. Status will then
    display in the Job Status table below.</p>
  <table style="table-layout: fixed" width="100%">
    <tr>
      <td><label>Targets File: </label><select
        class="btn btn-default" ng-model="selectedTargetsFile"
        ng-options="tf.filename for tf in targetsFiles"">
          <option value="">Choose File</option>
      </select>
        <button class="btn btn-default"
          ng-really-message="Are you sure you want to delete this targets file: {{selectedTargetsFile.filename}}?"
          ng-really-click="deleteTargetsFile()"
          ng-disabled="deletingTargetsFile || !selectedTargetsFile">{{targetsDelButtonText}}</button>
      </td>
      <td><label>Probes File: </label><select
        class="btn btn-default" ng-model="selectedProbesFile"
        ng-options="pf.filename for pf in probesFiles">
          <option value="">Choose File</option>
      </select>
        <button class="btn btn-default"
          ng-really-message="Are you sure you want to delete this probes file: {{selectedProbesFile.filename}}?"
          ng-really-click="deleteProbesFile()"
          ng-disabled="deletingProbesFile || !selectedProbesFile">{{probesDelButtonText}}</button>
      </td>
    </tr>
  </table>
  <br>
  <form name="abs_form">
    <label>Unique Job Name:</label> <input type="text" name="JobName"
      ng-model="job_name" placeholder="Job 1" required><br>
    <br>
    <button class="btn btn-default" ng-click="submitAbsorptionJob()"
      ng-disabled="abs_form.$invalid || submittingAbsJob || deletingProbesFile || !selectedProbesFile || deletingTargetsFile || !selectedTargetsFile">{{absSubmitButtonText}}</button>
  </form>
  <div ng-show="!submittingAbsJob && absSubmitStatus"
    ng-bind-html="absSubmitStatus"></div>
  <div ng-show="submittingAbsJob || !absSubmitStatus">
    <br>
  </div>
  <hr>
  <h3>Jobs Status:</h3>
  <p>This table displays the status of all submitted jobs.
    Furthermore, result links appear once a job finishes successfully.
    WARNING: Deleting a job will remove all remnants of the job - please
    do so with caution.</p>
  <button class="btn btn-default" ng-click="getAbsorptionJobs()"
    ng-disabled="gettingAbsJobs">{{getAbsJobsButtonText}}</button>

  <!-- 
  <p>{{absorptionJobs}}</p>
   -->

  <div class="table-responsive" ng-show="showTable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Submitted</th>
          <th>Targets File</th>
          <th>Probes File</th>
          <th>Status</th>
          <th>Runtime</th>
          <th>Result</th>
          <th>Delete Job</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entity in absorptionJobs">
          <td>{{ entity.job_name }}</td>
          <td>{{ entity.submit_time }}</td>
          <td>{{ entity.targets_filename }}</td>
          <td>{{ entity.probes_filename }}</td>
          <td>{{ entity.status }}</td>
          <td>{{ entity.runtime }}</td>
          <td><a href="{{ entity.url }}" ng-show="entity.url">TSV</a></td>
          <td><button class="btn-link"
              ng-really-message="Are you sure you want to delete this job: {{ entity.job_name }}?"
              ng-really-click="deleteAbsorptionJob(entity.uuid)">Delete</button></td>
        <tr>
      </tbody>
    </table>
  </div>

</div>