<!DOCTYPE html>
<html ng-app="MeltingTempApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Melting Temperatures</title>
    <link rel="stylesheet" type="text/css" href="css/generic.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <!-- 
    <script src="http://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
     -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/external/underscore-min.js"></script>
    <script src="js/external/ng-grid.min.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
</head>

<header> 
    <h1>Bio-Rad Laboratories, Inc.</h1>
</header>

<body>
    <div ng-controller="loadController">
		<div ng-controller="tempsController">
			<div>
				<p>Cut and paste your list of sequences below:</p>
				<textarea class="melting_temps_input" rows=10 ng-model="in_seq"></textarea>
			</div>
			<div>
				<button ng-click="get_temps()" ng-disabled="loading">Submit</button>
			</div>
			<div class="CSSTableGenerator" ng-show="show_table">
				<table>
					<tr>
						<td>Name</td>
						<td>Sequence</td>
						<td>Tm</td>
					</tr>
					<tr ng-repeat="entity in results">
						<td>{{ entity.Name }}</td>
						<td>{{ entity.Sequence }}</td>
						<td>{{ entity.Tm }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

<footer>
	<p>Copyright © 2014 Bio-Rad Laboratories, Inc. All rights reserved.</p>
</footer>
</html>